@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Rubik', sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
  line-height: 1.7;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

ul {
  list-style-type: none;
}

h4 {
  color: #00ed82;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}
.btn-cta:hover {
  opacity: 0.8;
}

.btn-outline {
  background: none;
  color: #fff;
  border: 1px solid #fff;
}

.btn-outline:hover {
  color: #fff;
  border-color: #ccc;
}

.btn-dark {
  background: #000;
  color: #fff;
}

.legal-text {
  font-size: 10px;
  color: #ccc;
  margin-top: 20px;
}

.sub-link {
  display: block;
  color: #ccc;
  font-size: 12px;
  margin-top: 5px;
  text-decoration: underline;
}

.text-xl {
  font-size: 70px;
  font-weight: bold;
}

.sub-text {
  max-width: 850px;
  margin-bottom: 10px;
  font-size: 24px;
}

.header-button {
  display: inline-block;
  color: #333;
  background: white;
  min-width: 136px;
  padding: 22px 28px;
  line-height: 14px;
  font-weight: 800;
  font: bold;
  border: none;
  border-radius: 4px;
  white-space: nowrap;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.header-button:hover {
  opacity: 0.8;
}

.legal-text {
  font-size: 10px;
  color: #ccc;
  opacity: 0.9;
  margin-top: 20px;
}

/* Style Header */

.header {
  height: 530px;
  background: url(../img//header.jpg) no-repeat center center / cover;
  margin-top: rem;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
  z-index: 2;
  position: relative;
}

.header nav .login-button {
  background: none;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1.5px;
  padding-right: 20px;
}

.header nav .login-button:hover {
  opacity: 0.8;
}

.header .logo {
  width: 270px;
  margin: 20px;
}

.header .header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;
}

.header .header-text-one {
  font-size: 1.4rem;
  font-weight: bold;
}

.header .header-text-two {
  font-size: 1.1rem;
  margin: 2rem 0;
}

.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 180px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.76) 16%,
    rgba(0, 0, 0, 0.192) 60%,
    rgba(0, 0, 0, 156.82deg) 100%
  );
}

/* Style Sub Header */

.sub-header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 40px;
  align-items: center;
  padding: 30px 40px;
  background: linear-gradient(
    318.68deg,
    #0f495c 0%,
    #0d3640 49.72%,
    #08141f 100%
  );
  letter-spacing: 1px;
}

.sub-header > div:last-of-type {
  justify-self: end;
  align-self: end;
}

.sub-header > div:last-of-type .sub-link {
  text-align: center;
}

/* Categories Design */

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 80px 40px;
}

.categories .covers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 40px;
  gap: 20px;
}

.categories .covers > div {
  height: 500px;
  width: 300px;
  position: relative;
}

.categories .cover-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      156.82deg,
      rgba(0, 0, 0, 0.6) 4.58%,
      rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
}

.categories .cover-text {
  position: absolute;
  text-align: left;
  left: 20px;
  top: 20px;
}

.categories .cover-1 {
  background: url('../img/cover-1.jpg') no-repeat center center / cover;
}
.categories .cover-2 {
  background: url('../img/cover-2.jpg') no-repeat center center / cover;
}
.categories .cover-3 {
  background: url('../img/cover-3.jpg') no-repeat center center / cover;
}
.categories .cover-4 {
  background: url('../img/cover-4.jpg') no-repeat center center / cover;
}

/* Live TV */

.live {
  padding: 32px;
  background: #141515;
}

.live-border {
  border: 4px solid #00ed82;
  border-radius: 16px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.live a {
  text-transform: uppercase;
  font-size: 15px;
  text-decoration: underline;
  margin-top: 20px;
  opacity: 0.8;
}

.live .text-xl {
  color: whitesmoke;
  font-size: 64px;
  font-weight: 800;
}

.live .sub-text {
  font-size: 27px;
}

.live .legal-text span {
  text-decoration: underline;
  cursor: pointer;
}

/* Live TV End */

/* Live Sports */

.live-sports {
  background: url('../img/live-sports.jpg') no-repeat center center / cover;
  position: relative;
  height: 820px;
}

.live-sports-content {
  position: absolute;
  top: 140px;
  left: 150px;
  max-width: 560px;
}

.live-sports-logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  margin-top: 40px;
}

.live-sports-logos > div {
  background: url('../img/network-logo-bg.png') no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
}

.live-sports-logos img {
  width: 48px;
}

.live-sports .legal-text {
  font-size: 11px;
  opacity: 0.9;
}

.live-sports .legal-text span {
  text-decoration: underline;
  cursor: pointer;
}

/* Live Sports End */

/* Price List Header Start */

.price-list-header {
  display: flex;
  background-color: white;
  color: black;
}

.price-list-header-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-left: 100px;
}

.price-list-header-title h3 {
  font-size: 32px;
  color: black;
  margin-bottom: 5px;
}

.price-list-header-desc {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.price-list-header-desc span {
  font-weight: 900;
}

.price-list-header-plan {
  display: flex;
  padding: 40px;
  justify-content: space-around;
  align-items: center;
}

.plan-one {
  margin-left: 20px;
  margin-right: 80px;
}

.plan-two {
  margin-right: 80px;
  margin-top: 32px;
  background-color: #f7f8fa;
}

.plan-three {
  margin-top: 32px;
}

.most-popular-button button {
  width: 128px;
  height: 28px;
  border: 1px solid gray;
  border-radius: 40px;
  background: darkslategray;
  color: white;
  font-weight: 600;
  font-size: 11px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-left: 22px;
}

.plan-title h3 {
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
  line-height: 30px;
}

.plan-desc {
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  color: gray;
  font-weight: 600;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 12px;
}

.plan-button button {
  width: 173px;
  height: 46px;
  margin-top: 8px;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 14px;
  background: black;
  color: white;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}

.plan-button button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.price-after-trial {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  color: black;
  border-bottom: 2px solid whitesmoke;
}

.after-trial-desc {
  margin-left: 60px;
}

.card-trial-price-one {
  margin-left: 26 0px;
  font-size: 20px;
  color: darkslategray;
}

.card-trial-price-two {
  margin-left: 100px;
  font-size: 20px;
  color: darkslategray;
}

.card-trial-price-three {
  margin-left: 100px;
  font-size: 20px;
  color: darkslategray;
}

/*  Price List Header End  */

/* Footer Start */

.footer {
  background: #ebedf2;
  color: #333;
}

.footer a {
  color: #333;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

.footer-lists {
  display: flex;
  justify-content: space-between;
  opacity: 0.9;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 32px;
}

.footer-lists .list-head {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-lists .list-space {
  margin-top: 36px;
}

.list-space .list-other-bundle {
  max-width: 160px;
}

.footer-lists ul li a:hover {
  color: darkblue;
  opacity: 0.9;
}

.divider {
  width: 100%;
  height: 3px;
  border-top: 1px #ccc solid;
  margin: 30px 0;
}

.social-icons img {
  width: 24px;
  height: 24px;
  margin-right: 25px;
}

/* Footer End */

/* Tablet Design  */

@media (max-width: 1100px) {
  .categories .covers {
    grid-template-columns: 1fr 1fr;
  }
}

/* Tablet Design End */

/* Mobile Design */

@media (max-width: 768px) {
  .header .logo {
    width: 200px;
  }

  .header .header-content {
    text-align: center;
    padding: 0 18px;
  }

  .header .header-text-1 {
    margin-bottom: 40px;
  }

  .header .header-text-2 {
    display: none;
  }

  .sub-header {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .sub-header img {
    width: 250px;
    margin: auto;
  }

  .sub-header > div:last-of-type {
    justify-self: center;
    align-self: center;
  }

  .text-xl {
    line-height: 1.2;
    font-size: 42px;
  }

  .sub-text {
    font-size: 20px;
  }

  .categories .covers {
    grid-template-columns: 1fr;
  }

  .live-border {
    padding: 36px 18px;
  }

  .live-sports {
    background: url('../img/live-sports-small.jpg') no-repeat center center /
      cover;
  }

  .live-sports-content {
    top: 30px;
    left: 30px;
    margin-top: 50px;
  }

  .live-sports-content .text-xl {
    margin-bottom: 24px;
  }

  .price-list-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  .price-list-header-title h3 {
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-align: center;
  }

  .price-list-header-desc {
    font-size: 20px;
    letter-spacing: 1px;
    text-align: left;
    margin-right: 50px;
    padding-right: 40px;
  }

  .price-list-header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .price-list-header-plan {
    display: flex;
    flex-direction: column;
  }

  .price-after-trial {
    display: none;
  }

  .plan-one {
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }

  .plan-two {
    align-items: center;
    justify-content: center;
    margin-right: 18px;
  }

  .plan-three {
    align-items: center;
    justify-content: center;
    margin-right: 18px;
  }

  .most-popular-button button {
    width: 140px;
    height: auto;
    font-size: 18px;
    margin-bottom: 5px;
  }

  .plan-title h3 {
    font-size: 26px;
  }

  .plan-desc {
    font-size: 20px;
  }

  .plan-button button {
    font-size: 16px;
  }

  .footer-lists {
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 5px;
  }

  .list-head {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
